<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>APWDiscovery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DD31FC71D8F10D30023F3B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD31FDB1D8F10D80023F3B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD31FE61D8F10D80023F3B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
